*{
    margin:0;
    padding:0;
}
form
{
    padding-left: 15px;
}
.test{
    padding: 10px 15px;
}
.container{
    padding-left: 15px;
    display: block;
    padding-right:0;
    margin-right: 0;
    margin-left: 0;
}
ul{
    padding-left: 45px;
}
li{
    padding: 0;
}
.navbar-nav{
    margin: 0px;
}
@media only screen and (min-width: 1300px){
    .container{
    width: 100%;
    }
}